<a class="btn-share" href="javascript:void(0);"><span class="font-share"></span></a>
<div class="share-bar">
  <a href="#" target="_blank" <%if(share!=0){%>onclick="_gaq.push(['_trackEvent', 'Click', '<%=share%>'])"<%}%> ><span class="icon-tsina"></span></a>
  <a href="#" target="_blank" <%if(share!=0){%>onclick="_gaq.push(['_trackEvent', 'Click', '<%=share%>'])"<%}%> ><span class="icon-kaixin001"></span></a>
  <a href="#" target="_blank" <%if(share!=0){%>onclick="_gaq.push(['_trackEvent', 'Click', '<%=share%>'])"<%}%> ><span class="icon-douban"></span></a>
  <a href="#" target="_blank" <%if(share!=0){%>onclick="_gaq.push(['_trackEvent', 'Click', '<%=share%>'])"<%}%> ><span class="icon-renren"></span></a>
  <a href="#" target="_blank" <%if(share!=0){%>onclick="_gaq.push(['_trackEvent', 'Click', '<%=share%>'])"<%}%> ><span class="icon-tqq"></span></a>
</div>